@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @localizer["Reset password confirmed"];
}

<h1 class="text-center mt-5">@localizer["Reset password confirmed"]</h1>
<p class="text-center">
    @localizer["Your password has been reset. Please"] <a asp-page="./Login">@localizer["click here to log in"]</a>.
</p>
