

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin_2.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../style/style.css">
    <link rel="icon" type="image/x-icon" href="~/Images/LOGO1.png">
   
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- <div class="background"></div> -->
    <div class="contain">
        

        @RenderBody()


    </div>
    
</body>
</html>
@await RenderSectionAsync("Scripts", required: false)
<script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../style/style.js">
</script>
