@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @localizer["Forgot password confirmation"];
}

<h1 class="text-center mt-5">@localizer["Forgot password confirmation"]</h1>
<p class="text-center">
    @localizer["Please check your email to reset your password."]
</p>
